body {
    background-color: #252525;
    color: #FFF;
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
}

main {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #8e653c;
    color: #FFF;
}

main .baner {
    width: 100%;
}

.ad {
    padding-top: 32px;
}

.host {
    padding: 8px;
    display: flex;
    flex-wrap: nowrap;
}

.host-vol {
    display: inline-block;
    width: 20px;
    height: 150px;
    padding: 0;
}

.host-vol input {
    width: 150px;
    height: 20px;
    margin: 0;
    transform-origin: 75px 75px;
    transform: rotate(-90deg);
}

.host-img {
    display: inline;
    position: relative;
}

.host-img:hover #awatar {
    opacity: 0.7;
    cursor: pointer;
}

.host-img:hover #playerBtn {
    opacity: 1;
    cursor: pointer;
}

#awatar {
    /* opacity: 1; */
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

#playerBtn {
    transition: .5s ease;
    /* opacity: 0; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.opacity07 {
    opacity: 0.7;
}

.opacity0 {
    opacity: 0;
}

.opacity1 {
    opacity: 1;
}

.host-span {
    width: 290px;
    display: inline-block;
    align-self: flex-start;
    flex-shrink: 0;
    margin-left: auto;
}

.host-span span {
    text-align: end;
    display: block;
}

.host-span span:nth-child(1) {
    font-size: 50px;
}

.host-span span:nth-child(2),
.host-span span:nth-child(3) {
    font-size: 25px;
}

#przyciski button {
    padding: 12px 20px;
    margin-bottom: 8px;
    border: 0;
    cursor: pointer;
}

.inactive {
    background-color: #5c4835;
    color: #FFF;
}

.active {
    background-color: #FFF;
    color: #252525;
}

#forma form input {
    display: block;
    width: 80%;
    margin: auto;
    padding: 12px 20px;
    margin-top: 4px;
}

#forma form input[type=submit] {
    margin-top: 4px;
    width: 30%;
    border: 0;
    cursor: pointer;
    background-color: #5c4835;
    color: #FFF;
}